<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Demo · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script>
      <%= if @conn.assigns.user do %>
        window.userToken = "<%= Phoenix.Token.sign(DemoWeb.Endpoint, "key", @conn.assigns.user.id) %>"
      <% end %>
    </script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <%= if @conn.assigns.user do %>
          <ul>
            <li>
              <strong>Logged in as:</strong> <%= @conn.assigns.user.email %>
            </li>
            
            <li>
              <strong>Via:</strong> <%= @conn.assigns.user.provider %>
            </li>
            
            <li><a href="/auth/sign_out">Sign Out</a></li>
            
          </ul>
        <% else %>
          <li><a href="/auth/github">Sign in via GitHub</a></li>
          <li><a href="/auth/twitter">Sign in via Twitter</a></li>
        <% end %>

        </nav>
        <a href="http://phoenixframework.org/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
